.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  padding-right: 0%;
  padding-top: 1%;
  pointer-events: none;
  /*animation: App-logo-spin 1s infinite linear;*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content1 {
  padding-top: 0%;
  padding-bottom: 50%;
}

.display-img {
  height: 10vmin;
}

.App-link {
  color: #61dafb;
}

/* Connect wallet page*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

.imgPrev{
  width: 200px;
  height: 100px;
  object-fit: cover;
  padding: 0.75rem;
}


.boilerblockchain-text {
  color:rgb(255, 255, 255);
}

.connect-container {
  text-align: center;
}

.WalletPage {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #282c34;
}

.mint-your-own-text {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 85px;
  letter-spacing: 4px;
  transition: 1s;
}

.mint-your-own-text:hover {
  font-family: 'Poppins', sans-serif;
  color: #7f4e4e;
  font-size: 90px;
  letter-spacing: 4px;
  transition: 1s;
}

.connect-wallet-btn {
  background-color: transparent;
  border: 2px solid #4CAF50;
  border-radius: 25px;
  font-family: 'Poppins', bold;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 1s;
}

.connect-wallet-btn:hover {
  background-color: #4CAF50; /* Green */
  border: 2px solid #4CAF50;
  border-radius: 25px;
  font-family: 'Poppins', bold;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: 1s;
}

/* account setup page */

.Account-setup-page {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #282c34;
}

.account-setup-text {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 2px;
  transition: 1s;
}

.account-setup-text:hover {
  font-family: 'Poppins', sans-serif;
  color: #7f4e4e;
  font-size: 55px;
  letter-spacing: 2px;
  transition: 1s;
}

.form-field {
  width: 20%;
  background: transparent;
  border: none;
  border-bottom: 2px solid green;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding-left: 2%;
  transition: 0.5s
}

.form-field:focus {
  width: 30%;
  outline: none;
  border: none;
  padding-left: 10%;
  border-bottom: 2px solid green;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-style: bold;
  transition: 0.5s;
}

.form-field::placeholder {
  color: gray;
  font-family: 'Poppins';
  font-size: x-small;
}

.err-text {
  color: red;
  font-size: x-small;
  font-style: italic;
}

.form-trailing-space {
  padding-top: 5%;
}

